@using Microsoft.Extensions.Localization
@using SalesWebMvc.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IStringLocalizer<Shared> SharedLocalizer

@model SellerFormViewModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@Localizer["Title"]</h2>

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" type="text" class="form-control" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" type="email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" type="date" class="form-control" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                @Html.TextBoxFor(model => model.Seller.BaseSalary, new { data_val_number = SharedLocalizer["NumberFormatMessage"], @class="form-control" })
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" type="text" placeholder="BaseSalary" class="form-control"
                        asp-items="@(new SelectList(Model.Departments, "Id", "Name"))">
                </select>
            </div>
             <input type="hidden" asp-for="Seller.Id" />
            <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
        </div>
    </div>
</form>
@section Scripts {
 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    document.addEventListener("DOMContentLoaded", function(e) {
        var regex = @Html.Raw(SharedLocalizer["NumberFormat"]);
      jQuery.extend(jQuery.validator.methods, {
        number: function (value, element) {
            return this.optional(element) || regex.test(value);
        }
    });
});
</script>